<a href="https://colab.research.google.com/github/Mrpianist/Board-Infinity/blob/master/Homework_1st_March_2020_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ask the user for his age, if age greater than 18 then print adult, if less then print teenager, remember to set the datatype to an integer like so, int(input())

In [2]:
print ("Please enter your ege\n")
age = int(input())
if age>=18 :
  print ("Yor are an adult \n")

else :
  print ("You are a teenager !\n")

Please enter your ege

22
Yor are an adult

Make a personal loan approving system, Ask the user for his monthly income. Then ask him if he has an ongoing loan (yes|no), if the user’s income is more than 100000, and his answer to an ongoing loan is no then approve his loan, else reject his loan.

In [3]:
print ("What is your monthly income")
income = int(input())
if income >= 100000 :
  print ("Do you have any ongoing loan?")
  ongoing_loan = str(input())
  if ongoing_loan == "yes" :
    print ("Sorry, You are not eligible for loan")
  else :
    print ("Congrats ! You are eligible for loan")
else :
  print("Sorry, You are not elgible for loan")

What is your monthly income
150000
Do you have any ongoing loan?
yes
Sorry, You are not eligible for loan

Ask the user if Female (yes|no), if ‘yes’ then print ‘You are a Girl’ else print, ‘You are a boy’

In [4]:
print ("Are you a female?")
gender = str (input())
if gender == "yes" :
  print ("You are a girl")
else :
  print ("You are a boy")

Are you a female?
no
You are a boy

Make a list of random numbers and print them all using a for loop

In [5]:
numbers = [0,1,2,3,4,5,6,7,8,9,10,13,35,67,98]
for x in numbers :
  print (x)

0
1
2
3
4
5
6
7
8
9
10
13
35
67
98

Make a list of random number and print only even numbers

In [6]:
numbers = [0,1,2,3,4,5,6,7,8,9,10,13,35,67,98]
for x in numbers :
  if x%2 == 0 :
    print (x)

0
2
4
6
8
10
98

Make a dictionary called (myself) with the following keys (name, age, gender and favourite food) and using a for loop print out only the keys

In [8]:
 myself = {"name" : "Rohit" , "age" : "23", "gender" : "male", "favourite_food" : "Dal Khichidi"}
 for x in myself :
   print (x)

name
age
gender
favourite_food

From the dictionary ‘myself’, print only the values

In [9]:
for x in myself :
  print (myself[x])

Rohit
23
male
Dal Khichidi

From the dictionary ‘myself’, print both the keys and their values

In [10]:
for x in myself :
  print (x, "-", myself[x])

name - Rohit
age - 23
gender - male
favourite_food - Dal Khichidi

Create a method that takes the persons name as argument and returns it

In [11]:
def  name(Name):
    print(Name)
Name = input('enter your name-')
name(Name)

enter your name-Rohit
Rohit

Create a function that takes a dictionary as an input and prints all the keys of the dictionary

In [0]:
myself = {"name" : "aniruddha" , "age" : "22", "gender" : "male", "favourite_food" : "pulav"}
def print_keys (x):
  return x.keys()

In [15]:
print_keys(myself)

dict_keys(['name', 'age', 'gender', 'favourite_food'])

Create a function that takes a list of 10 random numbers and prints out only odd numbers

In [0]:
numbers = [0,1,2,3,4,5,6,7,8,9,10,13,35,67,98]
def odd_number (a) :
  for x in numbers:
    if x%2 != 0:
      print (x)

In [19]:
odd_number (numbers)

1
3
5
7
9
13
35
67

define 4 variables of type, string, float, integer and boolean print the data type for each variables

In [0]:
name = ("Rohit") # string variable
height = 177.9 # float vairable
age = 23 # integer variable 
male = True #boolean variable

In [21]:
print (type(name), type(height), type(age), type(male))

<class 'str'> <class 'float'> <class 'int'> <class 'bool'>

1. integer to float

In [22]:
age = 23  #integer
float (age) #float

23.0

2. string to integer

In [23]:
age = "23" #string
int (age)  #integer

23

3. integer to string

In [24]:
age = 23 #integer
str (age) #string

'23'

Boolean to string

In [25]:
male = True #bool
str (male) #string

'True'

Import the following class from SKlearn API,

In [0]:
from sklearn import datasets

1. Random forest
2. Gaussian Naive bayes
3. Decision tree
4. Linear regression
5. KMeans
6. Train test split
7. Classification report
8. Accuracy

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
from sklearn.naive_bayes import GaussianNB

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
from sklearn.cluster import KMeans

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
from sklearn.metrics import classification_report

In [0]:
from sklearn.metrics import accuracy_score